body,html {
  margin:0;
}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}

.chat-wrapper{
    height:100%;
    width:100%
}

.localCanvas{
    background-color:black;
    margin-right:5px;
}
