$blue: #004FF9;
$yellow: #FFF94C;

body,html {
  margin:0;
  font-family: 'Libre Baskerville', serif;
}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}

.chat-wrapper{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    display:flex;
}

.chat-section{
    border: none;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 0.5em;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 5px;
}

.chat-section{
    ul{
        overflow-y: auto;
        flex:1;
        margin-bottom:0;
        padding-left:0.5em;
    }

    ul li{
        text-decoration: none;
        list-style-type: none;

    }

    ul li+li{
        margin-top:7px;
    }

    textarea{
        resize:none;
        border:none;
        border-top:1px solid #ccc;
        box-sizing: border-box;
        margin-left:-0.5em;
    }

    textarea:focus{
        outline:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.video-section{
    display: flex;
    text-align: center;

}

.videos{
    flex:1;
    display:flex;
    max-width: 800px;
    flex-direction: column;
    align-content: stretch;
}


.chat-navbar{
    border-left:1px solid #ccc;
    box-sizing: border-box;
    padding-top:1em;
}

.localCanvas, .remoteCanvas {
    background-color:black;
    margin-left: 5px;
    margin-right:5px;
    width: 500px;
    height: 460px;
    -webkit-box-shadow: 9px 5px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 5px 17px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 5px 17px -6px rgba(0,0,0,0.75);
}

.localCanvas {
    margin-top: 5px;
    margin-bottom: 5px;
}

canvas.remoteCanvas {
    margin-top: 5px;
}

.auth-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    flex-direction: column;
    background: $blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to right,$yellow,$blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right,$yellow, $blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right,$yellow, $blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,$yellow, $blue); /* Standard syntax */
    background-size:cover;
}


.loginForm, .registerForm {
    width: 500px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
}

.loginWrap {
    width: 500px;
    float: left;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 4px 3px 14px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 14px -5px rgba(0,0,0,0.75);
box-shadow: 4px 3px 14px -5px rgba(0,0,0,0.75);
}

.bodyLogin {
    overflow: hidden;
    height: 100%;
}

.bg_image {
    height: 1000px;
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #87909c;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

img.logo_image {
    width: 500px;
}

img.title_image {
    width: 200px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: -90px;
}

label {
    font-size: 12px;
    font-weight: bold;
    color: #87909c;
    float: left;
    clear: both;
    font-family: 'Roboto', sans-serif;
    margin-left:30px;
    margin-top:15px;
}

input[type="text"], input[type="password"] {
    float: left;
    margin-top: 15px;
    clear: both;
    margin-left: 30px;
    font-size: 1.3em;
    width: 80%;
    outline: none;
    border: none;
    padding: 10px;
    padding-left: 10px;
}

.login_btn, .register_btn {
    float: left;
    clear: left;
    font-family: 'Roboto', sans-serif;
    background: #7289da;
    border: solid 1px #7289da;
    width: 84%;
    margin-left: 30px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    cursor:pointer;
}

.registerLinkWrap, .loginLinkWrap {
    float: left;
    clear: left;
    margin-left: 30px;
}

a.register_link, a.login_link {
    float: left;
    margin-top: 11px;
    font-size: 13px;
    color:black;
    font-family: 'Roboto', sans-serif;
}

a.register_link:hover, a.login_link:hover {
    text-decoration: underline;
}

p.register_sentence, p.login_sentence {
    clear: left;
    float: left;
    font-size: 12px;
    color: #3e4956;
    font-family: 'Roboto', sans-serif;
}

.errUsername, .errPassword, .errRegister {
    float: left;
    margin-left: 30px;
    margin-top: 3px;
    color: red;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
}

.reg_success {
    position: absolute;
    background: #f2fae3;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: #94b639;
    border-bottom: solid 3px #94b639;
}

.reg_neutral {
    display: none;
}