$blue: #004FF9;
$yellow: #FFF94C;

body,html {
  margin:0;
  font-family: 'Libre Baskerville', serif;
}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}

.chat-wrapper{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    display:flex;
}

.chat-section{
    flex:1;
    border:none;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    padding-left:0.5em;
    display:flex;
    flex-direction: column;
    max-width: 400px;
}

.chat-section{
    ul{
        overflow-y: auto;
        flex:1;
        margin-bottom:0;
        padding-left:0.5em;
    }

    ul li{
        text-decoration: none;
        list-style-type: none;

    }

    ul li+li{
        margin-top:7px;
    }

    textarea{
        resize:none;
        border:none;
        border-top:1px solid #ccc;
        box-sizing: border-box;
        margin-left:-0.5em;
    }

    textarea:focus{
        outline:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.video-section{
    display: flex;
    flex:1;
    text-align: center;

}

.videos{
    flex:1;
    display:flex;
    max-width: 800px;
    margin:0 auto;
    flex-direction: column;
    align-content: stretch;
}

.videos {
    canvas{
        flex:1;
    }
}

.chat-navbar{
    border-left:1px solid #ccc;
    box-sizing: border-box;
    padding-top:1em;
}

.localCanvas{
    background-color:black;
    margin-right:5px;
}

.auth-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    flex-direction: column;
    background: $blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to right,$yellow,$blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right,$yellow, $blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right,$yellow, $blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,$yellow, $blue); /* Standard syntax */
    background-size:cover;
}
