body,html {
  margin:0;
}

a{
  text-decoration: none;
  margin:5px;
}

.header {

  color:white;
  background-color: black;
  border-bottom:3px solid #ccc;
  text-transform: uppercase;
  text-align: center;
  padding:10px
}

.footer-container{
  position:fixed;
  left:0;
  right:0;
  bottom:0;
}

.footer{
  background-color: lightgreen;
  text-align: center;
  color:white;
  border:1px 0px solid #ccc;
  padding:5px;
}

.tasklist{
  background-color:#f1f1f1;
  margin:0px 10px;
  padding:5px;
  border:4px solid lightgreen
}

.tasklist-header{
  text-align:center;
  border-bottom:1px solid #ccc
}

.task{
  margin-left:5px;
  box-sizing: border-box;
}

.task-check{
  margin-left:8px;
  cursor:pointer;
}

.task-message{
  border:1px dashed black;
  padding:3px;
  box-sizing: border-box;

}

.green{
  color:lightgreen
}

.red{
  color:#dc4c4c
}
