body {
  margin:0;
  width:100%
}

.header {
  width:100%;

  color:white;
  background-color: black;
  border-bottom:1px solid #ccc;
  text-transform: uppercase;
  text-align: center;
  padding:10px
}
